#internet-connection-status-review-notice.internet-connection-status-review-notice {
	padding: 15px 15px 15px 0;
	background-color: #fff;
	margin: 15px 15px 15px 0;
}

#internet-connection-status-review-notice .notice-dismiss:before {
	display: none
}

#internet-connection-status-review-notice .internet-connection-status-review-thumbnail {
	float: left;
	text-align: center;
	margin: 5px 20px
}

#internet-connection-status-review-notice .internet-connection-status-review-thumbnail img {
	border-radius: 5px;
	vertical-align: middle
}

#internet-connection-status-review-notice .internet-connection-status-review-text {
	overflow: hidden
}

#internet-connection-status-review-notice .internet-connection-status-review-text h3 {
	font-size: 20px;
	margin: 0 0 5px;
	line-height: 1.3
}

#internet-connection-status-review-notice .internet-connection-status-review-text p {
	font-size: 13px
}

#internet-connection-status-review-notice .internet-connection-status-review-ul {
	margin: 0;
	padding: 0
}

#internet-connection-status-review-notice .internet-connection-status-review-ul li {
	display: inline-block;
	margin-right: 10px
}

#internet-connection-status-review-notice .internet-connection-status-review-ul li a {
	display: inline-block;
	text-decoration: none;
	position: relative
}

#internet-connection-status-review-notice .internet-connection-status-review-ul li a span {
	margin-top: 3px;
	margin-right: 5px
}